<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Diploma Deploy Log 19.01.2026 </title>
  </head>
  <body>
    <h1>Deploy timeline</h1>
    <p>Current image tag: <b>{{ image_tag }}</b></p>

    <table border="1" cellpadding="6">
      <tr>
        <th>ID</th>
        <th>Deployed at</th>
        <th>Image tag</th>
      </tr>
      {% for r in rows %}
      <tr>
        <td>{{ r[0] }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
